.navbar .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 8px;
    transition: 0.3s;
    position: relative;
}

.navbar .nav-link:hover {
    color: #d4af37 !important; /* dorado elegante */
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #d4af37;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

.navbar .nav-item:last-child .nav-link {
    margin-left: 10px;
}

.btn-navbar {
    border: 1px solid #d4af37;
    padding: 5px 12px;
    border-radius: 6px;
    color: #d4af37 !important;
}

.btn-navbar:hover {
    background-color: #d4af37;
    color: #000 !important;
}

.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar .badge {
    font-size: 10px;
    position: relative;
    top: -5px;
}

.navbar .dropdown-toggle {
    display: inline-flex;
    align-items: center;
}

.flecha {
    font-size: 12px;
    margin-top: 2px;
}

/* DROPDOWN */
.dropdown-menu {
    background-color: #212529; /* mismo tono que navbar bg-dark */
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    margin-top: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* ITEMS */
.dropdown-item {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: 0.3s;
}

/* HOVER */
.dropdown-item:hover {
    background-color: transparent;
    color: #d4af37; /* dorado como navbar */
    padding-left: 25px;
}

/* CLICK */
.dropdown-item:active {
    background-color: transparent;
}

.dropdown-menu {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    position: relative;
}

.dropdown-item::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: #d4af37;
    transition: 0.3s;
}

.dropdown-item:hover::after {
    width: 20px;
}

.barra-productos {
    width: 100%;
    background-color: #21000e; 
    padding: 30px 0;
    text-align: center;
    margin-bottom: 50px;
}

.barra-productos h2 {
    color: #ffffff; 
    font-weight: normal;
    font-style: italic; 
    letter-spacing: 2px;
}


.footer {
    background-color: #111;
    color: #ccc;
}

.footer h5 {
    color: #d4af37; /* dorado */
    margin-bottom: 15px;
}

.footer a {
    color: #ccc;
    text-decoration: none;
}

.footer a:hover {
    color: #d4af37;
}

.footer-bottom {
    background-color: #000;
    color: #aaa;
    padding: 15px;
    font-size: 14px;
}

/* ICONOS REDES */
.social-icon {
    font-size: 20px;
    color: #fff;
}

.social-icon:hover {
    color: #d4af37;
}

/* INPUT */
.footer input {
    border-radius: 0;
}

.footer .btn-warning {
    background-color: #d4af37;
    border: none;
    color: #000;
}

/* HERO */
.hero-empresa {
    height: 400px;
    background-image: url('/img/nuestraempresa1.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-empresa::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-empresa div {
    position: relative;
    z-index: 2;
    color: white;
}

.titulo-hero {
    font-size: 3rem;
    font-weight: bold;
}

.subtitulo-hero {
    font-size: 1.2rem;
    font-style: italic;
}

/* CAJITAS DE TITULOS */
.titulo-caja {
    display: inline-block;
    padding: 10px 25px;
    border: none;
    background-color: #d4af37;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}
.titulo-caja:hover {
    background-color: #d4af37;
    color: #fff;
    border-color: #d4af37;
    transition: 0.3s;
}

/* ACORDEON VINOTECA */

/* ===== TITULO ===== */
.titulo-seccion {
    margin-top: 40px;
    margin-bottom: 50px;
}

.titulo-seccion h1 {
    font-weight: bold;
    color: #333;
}

.titulo-seccion p {
    color: #777;
}


/* ===== BARRA BENEFICIOS ===== */
.barra-comercial {
    background-color: #fafafa;
    padding: 50px 0;
    margin-bottom: 70px;
}

.barra-comercial h5 {
    font-weight: bold;
    margin-top: 10px;
}

.barra-comercial p {
    color: #666;
    font-size: 14px;
}


/* ===== ICONOS BENEFICIOS ===== */
.icono-comercial {
    font-size: 35px;
    color: #444444;
    margin-bottom: 10px;
    transition: 0.3s;
}

.icono-comercial:hover {
    transform: scale(1.1);
    color: #198754; /* bordó elegante */
}


/* ===== SECCION PAGOS ===== */
.seccion-pago {
    margin-bottom: 40px;
}


/* ===== ICONOS PAGOS ===== */
.icono-pago {
    font-size: 40px;
    color: #0f466b;
    margin-bottom: 10px;
}


/* ===== TARJETAS ===== */
.sombra-hover {
    transition: 0.3s;
    border: none;
    border-radius: 10px;
}

.sombra-hover:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


/* ===== ACORDEON ===== */
.accordion {
    max-width: 900px;
    margin: 0 auto 60px auto;
}

.accordion-item {
    border: none;
    margin-bottom: 12px;
    border-radius: 10px;
    overflow: hidden;
}

.accordion-button {
    background-color: #f8f8f8;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

.accordion-button:hover {
    background-color: #6b0f1a;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #6b0f1a;
    color: white;
}

.accordion-body {
    background-color: #ffffff;
    color: #444;
    border-left: 4px solid #6b0f1a;
    padding: 15px;
    line-height: 1.6;
}

.accordion-button:focus {
    box-shadow: none;
}

/* flecha blanca */
.accordion-button::after {
    filter: brightness(0) invert(1);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    border-radius: 12px;
}

.card-title {
    font-weight: bold;
}

.contenedor-img {
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 10px;
}

.contenedor-img img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.catalogo-card {
    border: none;
    border-radius: 14px;
    overflow: hidden;
}

.contenedor-img {
    height: 280px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contenedor-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: 0.3s;
}

.catalogo-card:hover .contenedor-img img {
    transform: scale(1.05);
}

.cantidad-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad-box input {
    width: 55px;
    height: 38px;
    text-align: center;
    border: 1px solid #ddd;
}

.btn-cantidad {
    width: 38px;
    height: 38px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 20px;
}

.btn-cantidad:hover {
    background-color: #f1f1f1;
}

.carrito-panel {
    width: 420px;
}

.carrito-img {
    width: 55px;
    height: 80px;
    object-fit: contain;
}

.carrito-item h6 {
    font-weight: bold;
}

.offcanvas-title {
    font-weight: bold;
    letter-spacing: 1px;
}